<div class="relative" x-data="{ state: false }">
  <div
    class="absolute inset-0 blur-xl h-[580px]"
    style="
      background: linear-gradient(
        143.6deg,
        rgba(192, 132, 252, 0) 20.79%,
        rgba(232, 121, 249, 0.26) 40.92%,
        rgba(204, 171, 238, 0) 70.35%
      );
    "
  ></div>
  <div class="relative">
    <!-- Section -->
    <section>
      <div
        class="max-w-screen-xl mx-auto px-4 py-28 gap-12 text-gray-600 overflow-hidden md:px-8 md:flex"
      >
        <div class="flex-none space-y-5 max-w-xl">
          <a
            href="javascript:void(0)"
            class="inline-flex gap-x-6 items-center rounded-full p-1 pr-6 border text-sm font-medium duration-150 hover:bg-white"
          >
            <span
              class="inline-block rounded-full px-3 py-1 bg-indigo-600 text-white"
            >
              Oferta
            </span>
            <p class="flex items-center">
              Descubre nuestras promociones exclusivas
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
              >
                <path
                  fillRule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clipRule="evenodd"
                />
              </svg>
            </p>
          </a>
          <h1 class="text-4xl text-gray-800 font-extrabold sm:text-5xl">
            ¡Encuentra todo lo que necesitas en nuestra tienda!
          </h1>
          <p>
            Explora una amplia selección de productos de calidad, desde moda
            hasta tecnología, con envíos rápidos y precios competitivos.
          </p>
          <div class="flex items-center gap-x-3 sm:text-sm">
            <a
              href="/tienda"
              class="flex items-center justify-center gap-x-1 py-2 px-4 text-white font-medium bg-gray-800 duration-150 hover:bg-gray-700 active:bg-gray-900 rounded-full md:inline-flex"
            >
              Comprar ahora
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
              >
                <path
                  fillRule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clipRule="evenodd"
                />
              </svg>
            </a>
            <a
              href="/tienda"
              class="flex items-center justify-center gap-x-1 py-2 px-4 text-gray-700 hover:text-gray-900 font-medium duration-150 md:inline-flex"
            >
              Ver catálogo
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5"
              >
                <path
                  fillRule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clipRule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
        <div class="flex-1 hidden md:block">
          <img
            src="https://www.creativefabrica.com/wp-content/uploads/2022/12/29/Ecommerce-web-page-concept-illustration-Graphics-55079404-1-1-580x386.png"
            class="max-w-xl"
          />
        </div>
      </div>
    </section>
  </div>
</div>
